body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  /*height: 100%;*/
}
/* box model: margin, border, padding, content
for the percentage height css property:
https://stackoverflow.com/questions/15943009/difference-between-css-height-100-vs-height-auto
https://stackoverflow.com/questions/7880365/why-does-100-not-mean-100-height
*/

html {
  margin-bottom: 2em;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #424242;
}
/* "web-safe" fonts: http://www.cssfontstack.com/
*/

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, section, article, div {
  box-sizing: border-box;
  position: static
}
/*The width and height properties of a box (and min/max properties) includes
content, padding and border, but not the margin
*/

img, embed, object, video {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

figure {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0.8em;
    -webkit-margin-end: 0.8em;
}

/*
 *
 * Header
 *
 */

.container {
  border-style: solid;
  border-width: 0 0 0.3em 0;
  width: 90%;
  margin: 2em auto 0 auto;
}

.header_logo {
  width: 72px;
  vertical-align: top;
  margin: 0 1em 1em 0;
}

.header_title {
  display: inline-block;
  text-align: right;
  float: right; /* For grid layout */
}

.header_name {
  font-weight: 100;
  font-size: 3em;
  display: block;
  /*color: #212121;*/
}

.header_career {
  font-weight: 300;
  font-size: 1.5em;
  display: block;
  /*color: #212121;*/
}

/* display has several values, such as block, inline and inline-block
*/

/*
 *
 * Main
 *
 */

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * color and picture
 *
 */

 .color_and_picture, .work {
   width: 90%;
   margin: 0.5em auto 0.5em auto;
 }

.table {
  width:100%;
}

.web_dev {
  display: block;
  width:100%;
  max-width:1559px;
  margin: 0 auto;
}

.squ_words {
  display: inline-block;
  width: 32%;
  margin: 0 auto 0.5em auto;
}

.square {
  width: 70px;
  height: 70px;
  margin: 0 auto 0 auto;
}

.words {
  text-align: center;
  margin: 0;
  padding: 0;
}

.square1 {
  background-color: #02b3e4;
}

.square2 {
  background-color: #2d3c49;
}

.square3 {
  background-color: #7d97ad;
}

/*
 *
 * work
 *
 */

 .work_title {
   font-weight: 300;
   font-size: 2em;
   display: block;
   color: #212121;
   margin-top: 1em;
 }


/*
 *
 * ul
 *
 */

 .github_work {
   float: left;
   text-align: center;
   width: 100%;
 }

 .work_image {
   display: block;
   width: 100%;
 }

.big_cap{
  font-weight: 500;
  font-size: 2em;
  margin: 0.5em auto 0.5em auto;
}

figcaption a {
  padding: 1.5em 0 1.5em 0;
  min-width: 48px;
  min-height: 48px;
  max-width: 100%;
}

/*
 * breakpoint
 */

@media screen and (min-width: 660px) {

  .container {
    border-style: solid;
    border-width: 0 0 0.3em 0;
    width: 70%;
    margin: 2em 10% 0 20%;
  }

  .color_and_picture {
    width: 90%;
    margin: 0.5em 10% 0.5em 0;
  }

  .table {
    display: inline-block;
    width: 22.2%;
    vertical-align: middle;
  }

  .web_dev {
    display: inline-block;
    width: 77%;
    max-width: 1559px;
    /*float: right;*/
    vertical-align: middle;
    margin: 0 auto;
  }

  .squ_words {
    display: block;
    width: 100%;
    margin: 0 auto 0.5em auto;
  }

  .work {
    width: 70%;
    margin: 0.5em 10% 0.5em 20%;
  }

  .github_work {
    float: left;
    text-align: center;
    width: 230px;
  }

}
